body {
  font-family: 'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.trigger {
  padding: 0 5px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 230px !important;
  min-width: 200px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.logo {
  background-color: #5b2d90;
  margin: 0;
  height: 64px;
}
main {
  overflow-y: scroll;
  height: 85vh;
  background-color: #eee9e9 !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.gap-15 {
  gap: 15px;
}
.ant-layout-header .badge {
  top: 18px;
  right: -6px;
}
.ant-menu-title-content {
  font-size: 1rem;
}
.ant-layout-header h5 {
  line-height: 30px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}

.error {
  color: red;
  font-size: 12px;
}

.ant-layout-content {
  background-color: #f1f1f1 !important;
}

.ant-modal-footer button:first-child {
  color: black;
  border-color: rgb(64, 176, 64);
}

.ant-modal-footer button:last-child {
  color: black;
  border-color: rgb(211, 58, 58);
}

.ant-menu-item-selected {
  background-color: #5e3989 !important;
  color: white !important;
}

.ant-menu-item-selected path {
  stroke: white !important;
}

.ant-menu-item-selected .ant-menu-title-content {
  color: white;
}

.ant-menu-item .ant-menu-item-selected .ant-menu-item-icon {
  fill: white !important;
}

.ant-layout-content {
  background-color: rgb(255, 255, 255) !important;
  margin: 0 !important;
}

.add_button {
  border-color: #5e3989 !important;
}

.add_button:hover {
  background-color: #5e3989 !important;
}

.add_button_2 {
  color: #a088bc;
  border: 1px solid;
  text-transform: capitalize;
}

.add_button_2:hover {
  border: 1px solid rgb(54, 0, 54);
  color: white;
  transition: 0.3s;
  background: #9c72cb;
}

.title {
  color: #5e3989 !important;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 0.3px solid rgb(164, 163, 163);
  border-radius: 5px;
}

.label-title {
  color: #5e3989 !important;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 0.3px solid rgb(164, 163, 163);
  border-radius: 5px;
}
.ant-menu .ant-menu-item .ant-menu-item-icon {
  min-width: 25px !important;
}

/* .text-red-500 {
  font-size: 22px !important;
}
.text-blue-500 {
  font-size: 22px !important;
} */

canvas {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px !important;
  height: 500px !important;
}

.pagination {
  margin-top: 15px !important;
  display: flex !important;
  gap: 10px !important;
  font-size: 20px !important;
  justify-content: flex-end !important;
  margin-right: 15px;
  justify-items: center !important;
  align-items: center !important;
}

.pagination a {
  display: flex !important;
  gap: 10px !important;
  font-size: 20px !important;
  justify-content: flex-end !important;
  margin-right: 10px;
  justify-items: center !important;
  align-items: center !important;
}

.active a {
  color: #9548b3 !important;
}

.ant-menu-vertical li img {
  margin-top: 6px !important;
  margin-left: -6px !important;
}

.ant-menu-vertical li svg {
  margin-top: 6px !important;
  margin-left: -6px !important;
}

form label.mt-2 {
  margin-top: 20px !important;
}

.ql-editor {
  display: block;
}
.ql-container {
  min-height: 100px !important;
}
